.container {
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: stretch;
  align-items: center;
  height: 60px;
  background: transparent;
  padding-left: 150px;
  padding-right: 150px;
}

.logo {
  -webkit-box-ordinal-group: 2;
  order: 1;
  font-size: 32px;
  line-height: 32px;
  padding: 5px;
}

.item {
  color: rgba(255, 255, 255, 0.88);
  text-decoration: none;
  font-family: 'Fira Mono';
  padding: 24px;
  color: #fff;
}

.item:hover {
  color: #000;
}

.item:nth-of-type(n+3) {
  -webkit-box-ordinal-group: 3;
  order: 2;
}

/* underline effect */
.underlineEffects a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}

.underlineEffects a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #0DA800;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underlineEffects a:hover:after {
  width: 100%;
  left: 0;
}

/*body*/
body {
  background-color: #434343;
}